body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
table {
    top: 100px;
}
button {
  border-radius: 5px;
  padding: 5px;
  border-style: ridge;
  font-weight: bold;
  color: white;
}
.body-content {
    max-width: 1400px;
    margin: auto;
}
.rHeader {
    background-color: #5C8018;
    color: white;
}
.rota_spacer {
  width: 10px;
  background-color: #53565A;
}
#addRow {
  margin-top: 10px;
  background-color: #F6F6EF;
  color: black;
  border-color: #F8F8EF;
}
#deleteRow {
  background-color: #BF002B;
  border-color: #DF022D;
}
